# Supabase configuration
VITE_SUPABASE_URL="https://fueufuopzfqefhwiksda.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1ZXVmdW9wemZxZWZod2lrc2RhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNjAxMTIsImV4cCI6MjA4OTczNjExMn0.GC3tiis4QKX4BCBlYzUtIqt80PwzH0BroqgZt-ec3FA"
